<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/home" method="GET">
        <button type="submit">Exit</button>
    </form>
    <h2><%= problem.title %></h2>
    <p><%= problem.question %></p>

    <form method="POST" action="/problems/<%= problem._id %>/submit">
    <% const labels = ['A', 'B', 'C', 'D']; %>
    <% problem.options.forEach((opt, index) => { %>
        <label>
        <input type="radio" name="answer" value="<%= opt %>" required>
        <strong><%= labels[index] %>.</strong> <%= opt %>
        </label><br><br>
    <% }) %>

        <button type="submit">Submit</button>
    </form>

    <% if (typeof result !== 'undefined') { %>
    <% if (result.correct) { %>
        <p style="color: green;"><strong><%= result.message %></strong></p>
    <% } else { %>
        <p style="color: red;"><strong>Incorrect.</strong></p>
        <p><strong>Explanation:</strong> <%= result.explanation %></p>
    <% } %>
    <% } %>
</body>
</html>